{% extends 'main.html' %}
{% block content %}
<h1> Stránka pro vložení nabídek práce</h1>

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 5fr;
    }
</style>


<div class="home-container">

    <div>
        <h4>Druhy nabídek práce.</h4>
        <hr>

        <div>
            <a href="/Nabidky/0">Všechny</a>
            <hr>
        </div>
        {% for Typ in Typs %}
            <div>
                <a href="#?q={{Typ.name}}">{{Typ.name}}</a>
                <hr>
            </div>

        {% endfor %}

    </div>

    <div>
        <a href="{% url 'Vytvoreninabidky' %}">Vložení nabídky práce.</a>

        <div>
            {% for room in rooms %}
            <div>
                <a href="{% url 'Upraveninabidky' room.id %}">Upravit nabídku práce</a>
                <a href="{% url 'Smazaninabidky' room.id %}">Smazat nabídku práce</a>
                <span>@{{room.Zadávající.username}}</span>
                <h5><a href="/Nabidky/room/{{room.id}}">{{room.Nazev_pozice}}</a></h5>
                <small>{{room.typprace.name}}</small>
                <hr>
            </div>
            {% endfor %}
        
        
        </div>
    </div>

    
</div>

{% endblock content %}