{% extends 'main.html' %}
{% block content %}
<h1> Stránka pro vložení nabídek práce</h1>

<div>

    <a href="{% url 'Vytvoreninabidky' %}">Vložení nabídky práce.</a>

    <div>
        {% for room in rooms %}
        <div>
            <span>@{{room.host.username}}</span>
            <h5><a href="/Nabidky/room/{{room.id}}">{{room.Nazev_pozice}}</a></h5>
            <small>{{room.typprace.name}}</small>
            <hr>
        </div>
        {% endfor %}
    
    
    </div>
</div>

{% endblock content %}