{% extends 'main.html' %}

{% block content %}
<h1>Domovská stránka</h1>


<div>

    <div>
        {% for infoome in infoome  %}
        <div>
            <h5>{{infoome.name}}</h5>
        </div>
        {% endfor %}

        {% for prac in prac %}
        <div>
            <h5>{{prac.name}}</h5>
        </div>
        {% endfor %}

        {% for stud in stud %}
        <div>
            <h5>{{stud.name}}</h5>
        </div>
        {% endfor %}

        {% for vlas in vlas %}
        <div>
            <h5>{{vlas.name}}</h5>
        </div>
        {% endfor %}

        {% for zaj in zaj %}
        <div>
            <h5>{{zaj.name}}</h5>
        </div>
        {% endfor %}
    
    
    
    </div>
</div>

{% endblock content %}